---
import CloseIcon from "../icons/CloseIcon.astro";

const { titleWhite, titleRed, text, subTitle, closeButtonClass, src } =
    Astro.props;
---

<div class="p-10">
    <span class="absolute right-10">
        <button class=`${closeButtonClass} text-cyan-50`><CloseIcon /></button>
    </span>

    <span class="flex flex-row justify-center pb-2">
        <img
            width="62px"
            height="62px"
            class="rx-lazy align-middle"
            src={src}
            data-src={src}
            alt="img"
        />
    </span>
    <h2 class="title-decor text-cyan-50">
        {titleWhite}<span> {titleRed}</span>
    </h2>
    <h1 class="text-cyan-50" style="font-size: 22px;">
        {subTitle}
    </h1>
    <p style="font-size: 18px; font-weight: normal ;" class="max-w-lg">
        {text}
    </p>
    <div id="paypal-container-NVJGAMNUP6GBY"></div>
    <button class=`btn ${titleWhite}`>
        <span>Lo Quiero! </span>
    </button>
</div>
<script>
    import { loadScript } from "@paypal/paypal-js";

    let paypal;

    try {
        paypal = await loadScript({
            clientId:
                "BAArUHBwyhbMnrVCeQgi_7sUZIqNx84ycqmPVQCuDUMZT0C_JyBFUeoUg71c9Dvw4QrmcxjnCOmcsWXxOg",
        });
    } catch (error) {
        console.error("failed to load the PayPal JS SDK script", error);
    }

    if (paypal) {
        try {
            await paypal.Buttons().render("#paypal-container-NVJGAMNUP6GBY");
        } catch (error) {
            console.error("failed to render the PayPal Buttons", error);
        }
    }
</script>
